@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$cor-primaria: hsl(75, 94%, 57%);
$cor-cinza: hsl(0, 0%, 20%);
$cor-cinza-escuro: hsl(0, 0%, 12%);
$cor-preto: hsl(0, 0%, 8%);

$ft-primaria: "Inter", sans-serif;